<% @viewID = "home" %>

<!-- ============ PAGE LOADER START ============ -->

<div id="loader">
	<i class="fa fa-cog fa-4x fa-spin"></i>
</div>

<!-- ============ PAGE LOADER END ============ -->

<!-- ============ NAVBAR START ============ -->

<div class="fm-container">
	<!-- Menu -->
	<div class="menu">
		<div class="button-close text-right">
			<a class="fm-button"><i class="fa fa-close fa-2x"></i></a>
		</div>
		<ul class="nav">
			<li class="active">
				<a href="#home">Home</a>
			</li>
			<li>
				<a href="jobs.html">Jobs</a>
			</li>
			<li>
				<a href="post-a-job.html">Post a job</a>
			</li>
			<li>
				<a href="candidates.html">Candidates</a>
			</li>
			<li>
				<a href="post-a-resume.html">Post a Resume</a>
			</li>
			<li>
				<a href="#">Pages</a>
				<ul>
					<li>
						<a href="job-details.html">Job Details</a>
					</li>
					<li>
						<a href="resume.html">Resume</a>
					</li>
					<li>
						<a href="company.html">Company</a>
					</li>
					<li>
						<a href="blog.html">Blog</a>
					</li>
					<li>
						<a href="post.html">Single Post</a>
					</li>
					<li>
						<a href="about.html">About Us</a>
					</li>
					<li>
						<a href="testimonials.html">Testimonials</a>
					</li>
					<li>
						<a href="options.html">Options</a>
					</li>
				</ul>
			</li>
			<li>
				<a class="link-register">Register</a>
			</li>
			<li>
				<a class="link-login">Login</a>
			</li>
		</ul>
	</div>
	<!-- end Menu -->
</div>

<!-- ============ NAVBAR END ============ -->

<!-- ============ HEADER START ============ -->

<header>
	<div id="header-background"></div>
	<div class="container">
		<div class="pull-left">
			<div id="logo">
				<a href="index.html"><img src="/resources/images/logo.png" alt="Jobseek - Job Board Responsive HTML Template" /></a>
			</div>
		</div>
		<div id="menu-open" class="pull-right">
			<a class="fm-button"><i class="fa fa-bars fa-lg"></i></a>
		</div>
		<div id="searchbox" class="pull-right">
			<form>
				<div class="form-group">
					<label class="sr-only" for="searchfield">Searchbox</label>
					<input type="text" class="form-control" id="searchfield" placeholder="Type keywords and press enter">
				</div>
			</form>
		</div>
		<div id="search" class="pull-right">
			<a><i class="fa fa-search fa-lg"></i></a>
		</div>
	</div>
</header>

<!-- ============ HEADER END ============ -->

<!-- ============ SLIDES START ============ -->

<div id="slider" class="sl-slider-wrapper">

	<div class="sl-slider">

		<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
			<div class="sl-slide-inner">
				<div class="bg-img bg-img-1"></div>
				<div class="tint"></div>
				<div class="slide-content">
					<h2>Looking for a job?</h2>
					<h3>There’s no better place to start</h3>
					<p>
						<a href="jobs.html" class="btn btn-lg btn-default">Find a job</a>
					</p>
				</div>
			</div>
		</div>

		<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
			<div class="sl-slide-inner">
				<div class="bg-img bg-img-2"></div>
				<div class="tint"></div>
				<div class="slide-content">
					<h2>Need an employee?</h2>
					<h3>We've got perfect candidates</h3>
					<p>
						<a href="candidates.html" class="btn btn-lg btn-default">Post a job</a>
					</p>
				</div>
			</div>
		</div>

		<div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
			<div class="sl-slide-inner">
				<div class="bg-img bg-img-3"></div>
				<div class="tint"></div>
				<div class="slide-content">
					<h2>Evolving your career?</h2>
					<h3>Find new opportunities here</h3>
					<p>
						<a href="jobs.html" class="btn btn-lg btn-default">Find a job</a>
					</p>
				</div>
			</div>
		</div>

		<div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
			<div class="sl-slide-inner">
				<div class="bg-img bg-img-4"></div>
				<div class="tint"></div>
				<div class="slide-content">
					<h2>Extending your team?</h2>
					<h3>Find a perfect match</h3>
					<p>
						<a href="candidates.html" class="btn btn-lg btn-default">Find a cadidate</a>
					</p>
				</div>
			</div>
		</div>

	</div>

	<nav id="nav-arrows" class="nav-arrows">
		<span class="nav-arrow-prev">Previous</span>
		<span class="nav-arrow-next">Next</span>
	</nav>

	<nav id="nav-dots" class="nav-dots">
		<span class="nav-dot-current"></span>
		<span></span>
		<span></span>
		<span></span>
	</nav>

</div>

<!-- ============ SLIDES END ============ -->

<!-- ============ JOBS START ============ -->

<section id="jobs">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<h2>ÖNE ÇIKARILAN TALEPLER</h2>

				<div class="onecikanlar">

					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
				</div>

			</div>
			<div class="col-sm-4">
				<h2>EN ZİRVEDEKİ 10 TALEP</h2>
				<a href="#">
				<div class="featured-job">
					<img src="http://placehold.it/60x60.jpg" alt="" class="img-circle" />
					<div class="title">
						<h5>Web Designer</h5>
						<p>
							Amazon
						</p>
					</div>
					<div class="data">
						<span class="city"><i class="fa fa-map-marker"></i>New York City</span>
						<span class="type full-time"><i class="fa fa-clock-o"></i>Full Time</span>
						<span class="sallary"><i class="fa fa-dollar"></i>45,000</span>
					</div>

				</div>
				<div class="featured-job">
					<img src="http://placehold.it/60x60.jpg" alt="" class="img-circle" />
					<div class="title">
						<h5>Web Designer</h5>
						<p>
							Amazon
						</p>
					</div>
					<div class="data">
						<span class="city"><i class="fa fa-map-marker"></i>New York City</span>
						<span class="type full-time"><i class="fa fa-clock-o"></i>Full Time</span>
						<span class="sallary"><i class="fa fa-dollar"></i>45,000</span>
					</div>

				</div>
				<div class="featured-job">
					<img src="http://placehold.it/60x60.jpg" alt="" class="img-circle" />
					<div class="title">
						<h5>Web Designer</h5>
						<p>
							Amazon
						</p>
					</div>
					<div class="data">
						<span class="city"><i class="fa fa-map-marker"></i>New York City</span>
						<span class="type full-time"><i class="fa fa-clock-o"></i>Full Time</span>
						<span class="sallary"><i class="fa fa-dollar"></i>45,000</span>
					</div>

				</div>
				<div class="featured-job">
					<img src="http://placehold.it/60x60.jpg" alt="" class="img-circle" />
					<div class="title">
						<h5>Web Designer</h5>
						<p>
							Amazon
						</p>
					</div>
					<div class="data">
						<span class="city"><i class="fa fa-map-marker"></i>New York City</span>
						<span class="type full-time"><i class="fa fa-clock-o"></i>Full Time</span>
						<span class="sallary"><i class="fa fa-dollar"></i>45,000</span>
					</div>

				</div> </a>
			</div>
		</div>
	</div>
</section>

<!-- ============ JOBS END ============ -->

<!-- ============ CONTACT START ============ -->

<section id="contact" class="color2">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>Drop us a line</h2>
				<form role="form" name="contact-form" id="contact-form" action="process.php">
					<div class="form-group" id="contact-name-group">
						<label for="contact-name" class="sr-only">Name</label>
						<input type="text" class="form-control" id="contact-name" placeholder="Name">
					</div>
					<div class="form-group" id="contact-email-group">
						<label for="contact-email" class="sr-only">Email</label>
						<input type="email" class="form-control" id="contact-email" placeholder="Email">
					</div>
					<div class="form-group" id="contact-subject-group">
						<label for="contact-subject" class="sr-only">Subject</label>
						<input type="text" class="form-control" id="contact-subject" placeholder="Subject">
					</div>
					<div class="form-group" id="contact-message-group">
						<label for="contact-message" class="sr-only">Message</label>
						<textarea class="form-control" rows="3" id="contact-message"></textarea>
					</div>
					<button type="submit" class="btn btn-default">
						Submit
					</button>
				</form>
			</div>
			<div class="col-sm-6">
				<h2>Visit our office</h2>
				<div class="row">
					<div class="col-sm-6">
						<h5>New York</h5>
						<p>
							5 Park Avenue
							<br>
							New York, NY 10016
							<br>
							USA
						</p>
						<p>
							<i class="fa fa-phone"></i>+1 718.242.5555
							<br>
							<i class="fa fa-fax"></i>+1 718.242.5556
							<br>
							<i class="fa fa-envelope"></i><a href="mailto:ny@jobseek.com">ny@jobseek.com</a>
						</p>
						<p>
							<i class="fa fa-clock-o"></i>Mon-Fri 9am - 5pm
							<br>
							<i class="fa fa-clock-o"></i>Sat 10am - 2pm
							<br>
							<i class="fa fa-clock-o"></i>Sun Closed
						</p>
					</div>
					<div class="col-sm-6">
						<h5>Los Angeles</h5>
						<p>
							8605 Santa Monica Blvd
							<br>
							Los Angeles, CA 90069-4109
							<br>
							USA
						</p>
						<p>
							<i class="fa fa-phone"></i>+1 985.562.5555
							<br>
							<i class="fa fa-fax"></i>+1 985.562.5556
							<br>
							<i class="fa fa-envelope"></i><a href="mailto:la@jobseek.com">la@jobseek.com</a>
						</p>
						<p>
							<i class="fa fa-clock-o"></i>Mon-Fri 9am - 5pm
							<br>
							<i class="fa fa-clock-o"></i>Sat 10am - 2pm
							<br>
							<i class="fa fa-clock-o"></i>Sun Closed
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ============ CONTACT END ============ -->

<!-- ============ CLIENTS START ============ -->

<section id="clients">
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-12">
				<h1>Happy Clients</h1>
				<h4>Some of the many companies we’ve helped</h4>
				<div class="owl-carousel">

					<!-- Logo 1 -->
					<div>
						<a href="company.html"><img src="http://placehold.it/133x69.gif" alt="" /></a>
					</div>

					<!-- Logo 2 -->
					<div>
						<a href="company.html"><img src="http://placehold.it/133x69.gif" alt="" /></a>
					</div>

					<!-- Logo 3 -->
					<div>
						<a href="company.html"><img src="http://placehold.it/133x69.gif" alt="" /></a>
					</div>

					<!-- Logo 4 -->
					<div>
						<a href="company.html"><img src="http://placehold.it/133x69.gif" alt="" /></a>
					</div>

					<!-- Logo 5 -->
					<div>
						<a href="company.html"><img src="http://placehold.it/133x69.gif" alt="" /></a>
					</div>

					<!-- Logo 6 -->
					<div>
						<a href="company.html"><img src="http://placehold.it/133x69.gif" alt="" /></a>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<!-- ============ CLIENTS END ============ -->

