<% @viewID="home" %>

<!-- ============ PAGE LOADER START ============ -->

<div id="loader">
	<i class="fa fa-cog fa-4x fa-spin"></i>
</div>

<!-- ============ PAGE LOADER END ============ -->
asd
<!-- ============ NAVBAR START ============ -->

<div class="fm-container">
	<!-- Menu -->
	<div class="menu">
		<div class="button-close text-right">
			<a class="fm-button"><i class="fa fa-close fa-2x"></i></a>
		</div>
		<ul class="nav">
			<li class="active">
				<a href="#home">ANASAYFA</a>
			</li>
			<li>
				<a href="jobs.html">Jobs</a>
			</li>
			<li>
				<a href="post-a-job.html">Post a job</a>
			</li>
			<li>
				<a href="candidates.html">Candidates</a>
			</li>
			<li>
				<a href="post-a-resume.html">Post a Resume</a>
			</li>
			<li>
				<a href="#">Pages</a>
				<ul>
					<li>
						<a href="job-details.html">Job Details</a>
					</li>
					<li>
						<a href="resume.html">Resume</a>
					</li>
					<li>
						<a href="company.html">Company</a>
					</li>
					<li>
						<a href="blog.html">BLOG</a>
					</li>
					<li>
						<a href="post.html">Single Post</a>
					</li>
					<li>
						<a href="about.html">HAKKIMIZDA</a>
					</li>
					<li>
						<a href="testimonials.html">Testimonials</a>
					</li>
					<li>
						<a href="options.html">SEÇENEKLER</a>
					</li>
				</ul>
			</li>
			<li>
				<a class="link-register">KAYIT OL</a>
			</li>
			<li>
				<a class="link-login">GİRİŞ YAP</a>
			</li>
		</ul>
	</div>
	<!-- end Menu -->
</div>

<!-- ============ NAVBAR END ============ -->

<!-- ============ HEADER START ============ -->

<header>
	<div id="header-background"></div>
	<div class="container">
		<div class="pull-left">
			<div id="logo">
				<a href="index.html"><img src="/resources/images/logo.png" alt="Jobseek - Job Board Responsive HTML Template" /></a>
			</div>
		</div>
		<div id="menu-open" class="pull-right">
			<a class="fm-button"><i class="fa fa-bars fa-lg"></i></a>
		</div>
		<div id="searchbox" class="pull-right">
			<form>
				<div class="form-group">
					<label class="sr-only" for="searchfield">Searchbox</label>
					<input type="text" class="form-control" id="searchfield" placeholder="Type keywords and press enter">
				</div>
			</form>
		</div>
		<div id="search" class="pull-right">
			<a><i class="fa fa-search fa-lg"></i></a>
		</div>
	</div>
</header>

<!-- ============ HEADER END ============ -->

<div id = "myCarousel" class = "carousel slide">

	<!-- Carousel indicators -->
	<ol class = "carousel-indicators">
		<li data-target = "#myCarousel" data-slide-to = "0" class = "active"></li>
		<li data-target = "#myCarousel" data-slide-to = "1"></li>
		<li data-target = "#myCarousel" data-slide-to = "2"></li>
	</ol>

	<!-- Carousel items -->
	<div class = "carousel-inner" style=" max-height: 400px !important;">
		<div class = "item active">
			<img src = "/resources/images/Clean_Gray_BackGround.jpg" width="100%" alt = "First slide">
		</div>

		<div class = "item">
			<img src = "/resources/images/Clean_Gray_BackGround.jpg" width="100%" alt = "First slide">
		</div>

		<div class = "item">
			<img src = "/resources/images/Clean_Gray_BackGround.jpg" width="100%" alt = "First slide">
		</div>
	</div>

</div>

<!-- ============ JOBS START ============ -->

<section id="jobs">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<h2>ÖNE ÇIKARILAN TALEPLER</h2>

				<div class="onecikanlar">

					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
					<div style="margin-bottom:25px;">
						<img width="100px" height="100px" src="/resources/images/sample-thumbnail.jpg">
						<caption >
							asd
						</caption>

					</div>
				</div>

			</div>
			<div class="col-sm-4">
				<h2>EN ZİRVEDEKİ 10 TALEP</h2>
				<a href="#">
				<div class="featured-job">
					<img src="http://placehold.it/60x60.jpg" alt="" class="img-circle" />
					<div class="title">
						<h5>Web Designer</h5>
						<p>
							Amazon
						</p>
					</div>
					<div class="data">
						<span class="city"><i class="fa fa-map-marker"></i>New York City</span>
						<span class="type full-time"><i class="fa fa-clock-o"></i>Full Time</span>
						<span class="sallary"><i class="fa fa-dollar"></i>45,000</span>
					</div>

				</div>
				<div class="featured-job">
					<img src="http://placehold.it/60x60.jpg" alt="" class="img-circle" />
					<div class="title">
						<h5>Web Designer</h5>
						<p>
							Amazon
						</p>
					</div>
					<div class="data">
						<span class="city"><i class="fa fa-map-marker"></i>New York City</span>
						<span class="type full-time"><i class="fa fa-clock-o"></i>Full Time</span>
						<span class="sallary"><i class="fa fa-dollar"></i>45,000</span>
					</div>

				</div>
				<div class="featured-job">
					<img src="http://placehold.it/60x60.jpg" alt="" class="img-circle" />
					<div class="title">
						<h5>Web Designer</h5>
						<p>
							Amazon
						</p>
					</div>
					<div class="data">
						<span class="city"><i class="fa fa-map-marker"></i>New York City</span>
						<span class="type full-time"><i class="fa fa-clock-o"></i>Full Time</span>
						<span class="sallary"><i class="fa fa-dollar"></i>45,000</span>
					</div>

				</div>
				<div class="featured-job">
					<img src="http://placehold.it/60x60.jpg" alt="" class="img-circle" />
					<div class="title">
						<h5>Web Designer</h5>
						<p>
							Amazon
						</p>
					</div>
					<div class="data">
						<span class="city"><i class="fa fa-map-marker"></i>New York City</span>
						<span class="type full-time"><i class="fa fa-clock-o"></i>Full Time</span>
						<span class="sallary"><i class="fa fa-dollar"></i>45,000</span>
					</div>

				</div> </a>
			</div>
		</div>
	</div>
</section>

<!-- ============ JOBS END ============ -->

<!-- ============ CONTACT START ============ -->

<section id="contact" class="color2">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>İLETİŞİM</h2>
				<form role="form" name="contact-form" id="contact-form" action="process.php">
					<div class="form-group" id="contact-name-group">
						<label for="contact-name" class="sr-only">Ad-Soyad</label>
						<input type="text" class="form-control" id="contact-name" placeholder="Ad-Soyad">
					</div>
					<div class="form-group" id="contact-email-group">
						<label for="contact-email" class="sr-only">E-posta</label>
						<input type="email" class="form-control" id="contact-email" placeholder="E-posta">
					</div>
					<div class="form-group" id="contact-subject-group">
						<label for="contact-subject" class="sr-only">Konu</label>
						<input type="text" class="form-control" id="contact-subject" placeholder="Konu">
					</div>
					<div class="form-group" id="contact-message-group">
						<label for="contact-message" class="sr-only">Mesajınız</label>
						<textarea class="form-control" rows="3" id="contact-message" placeholder="Mesajınız..."></textarea>
					</div>
					<button type="submit" class="btn btn-default">
						Gönder
					</button>
				</form>
			</div>
			<div class="col-sm-6">
				<h2>ADRESİMİZ</h2>
				<div class="row">
					<div class="col-sm-12">
						<h5>TÜRKİYE</h5>
						<p>
							Orta Doğu Teknik Üniversitesi

							Öğrenci Konukevi 2

							Ankara / Türkiye
						</p>
						<p>
							<i class="fa fa-phone"></i>+90 505 782 2777
							<br>

							<i class="fa fa-envelope"></i><a href="mailto:info@winnolingo.com">info@winnolingo.com</a>
						</p>
						<p>
							<i class="fa fa-clock-o"></i>Pazartesi-Cuma &nbsp;&nbsp; 09.00 - 17.00
							<br>

					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<!-- ============ CONTACT END ============ -->

<!-- ============ CLIENTS START ============ -->

<section id="clients">
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-12">
				<h1>MUTLU MÜŞTERİLERİMİZDEN BAZILARI </h1>

				<div class="owl-carousel">

					<!-- Logo 1 -->
					<div>
						<a href="company.html"><img src="/resources/images/sample-thumbnail.jpg" alt="" /></a>
					</div>

					<!-- Logo 2 -->
					<div>
						<a href="company.html"><img src="/resources/images/sample-thumbnail.jpg" alt="" /></a>
					</div>

					<!-- Logo 3 -->
					<div>
						<a href="company.html"><img src="/resources/images/sample-thumbnail.jpg" alt="" /></a>
					</div>

					<!-- Logo 4 -->
					<div>
						<a href="company.html"><img src="/resources/images/sample-thumbnail.jpg" alt="" /></a>
					</div>

					<!-- Logo 5 -->
					<div>
						<a href="company.html"><img src="/resources/images/sample-thumbnail.jpg" alt="" /></a>
					</div>

					<!-- Logo 6 -->
					<div>
						<a href="company.html"><img src="/resources/images/sample-thumbnail.jpg" alt="" /></a>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<!-- ============ CLIENTS END ============ -->